<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide of Questions</title>
</head>
<body>
    <h1>Guide of Questions</h1>

<hr>

<p>Name: <%= name %></p>
<p>Lang: <%= lang %></p>
<p>Company <%= company %></p>
<p>Enrolled: <%= enrolled %></p>
  
</body>
</html>